<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <title>Component Test</title>
  <link rel="stylesheet" href="./<%= name %>.css" />
</head>

<body>
  <div id="react-content"></div>
</body>
<script src="./<%= name %>.js"></script>

</html>